BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignTrailingComments: true
AlignAfterOpenBracket: true
ShortFunctionStyle: Empty