snippet \func "function with doc string" b
/*
 * Function name: $1
 * Function Prototype: $2
 * Description: $3
 * Parameters: $4
 * Side Effects: $5
 * Error Condition: $6
 * Return Value: $7
 */
$2 {
  $0
}
endsnippet


snippet \fdoc "function doc string" b
/*
 * Function name: $1
 * Function Prototype: $2
 * Description: $3
 * Parameters: $4
 * Side Effects: $5
 * Error Condition: $6
 * Return Value: $7
 */
endsnippet
