snippet \html "an html boiler plate"
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>$1</title>
	<style type="text/css">
		body, html {
			width: 100%;
			margin: 0px;
		}
	</style

</head>
<body>

$0

<script type="text/javascript">

</script>

</body>
</html>
endsnippet
